@media (max-width:750px) {
    
.detail-sm{
    position: relative;
    z-index: 1;
}
.detail-sm::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: white;
    z-index: -1;
}

}

@media (min-width:751px) and (max-width:1024px) {
 
.detail-md{
    position: relative;
    z-index: 1;
}
.detail-md::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: white;
    z-index: -1;
}

}